.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.env.prod
.env.example
.env.prod.example
.git/
.gitignore
db.sqlite3
media/
staticfiles/
graphify-out/
.opencode/
.vscode/
.idea/
documentation/documentação/
.secrets/
